@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { box-sizing: border-box;}

body {font-family: 'Roboto', sans-serif;}

header {flex: auto;}

body {background-color: honeydew;}

h1 {
    text-align: center;
}